@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Actor/Movie Database!</h1>

    <p>
        These are some of the things you can do on this site:
        <ul style="list-style-position: inside;">
            <li>
                Add actors/movies to the database
            </li>
            <li>
                View tweets assosciated with those actors/movies
            </li>
            <li>
                See which actors are in which movies
            </li>
        </ul>
        Select one of the tabs above to get started!
    </p>
</div>
